{% extends 'base/base.html' %}

<head>
    <title>{% block title %} Contáctenos{% endblock %}</title>
</head>

<body>
    {% block content %}
    <h1 class="h1contac">Contáctenos</h1>
    <div class="conten-contactos">
        <div class="padre">

            <div class="hijo">
                <nav class="navigation-contac">
                    <ul>
                        <li><h3>Email</h3></li>
                        <li>stackquestion2021@gmail.com</li>
                        <li><h3>Numero</h3></li>
                        <li>+51 XXXXXXXXX</li>
                        <li><h3>Redes Sociales</h3></li>
                        <li>Facebook</li>
                        <li><a href="https://www.facebook.com/groups/stackquestion">stackquestion</a></li>
                        <br>
                        <li>Twitter</li>
                        <li>@QuestionStack</li>
                    </ul>
                </nav>
                <div><a href="https://www.facebook.com/groups/307217284628410" target="_blank"
                    class="fa fa-facebook-square fa-4x"></a>
                <a href="https://twitter.com/QuestionStack" target="_blank" class="fa fa-twitter-square fa-4x"></a>
            </div>
            </div>
            
        </div>
    </div>
    </div>

    {% endblock %}
</body>

</html>