{%extends "foro.html"%}
{%block cuerpo %}
<div class="content-resp">

    <div class="content-respues">
        <div id="busqueda_ajax">
            <br><input type="checkbox" id="resp_normal">
            <label for="resp_normal">Ver respuestas comunes</label>
            <div class="pregunta-foro">
                <div class="container-title-temas">
                    <h3>{{id_pregunta.enunciado}} </h3>
                    <div class="column-pre " style="margin-top: 10px;">
                        <span>Tema: {{id_pregunta.tema}}</span>
                        <span>Area: {{id_pregunta.area}}</span>
                    </div>
                </div>
                <div class="conentsubtemas">
                    <div class="filapre" style="margin-top: -40px;">
                        <div class="alinedo-usuario-p">
                            <div class="alin-usu-es">Hecho por:</div>
                            <div>
                                <a href="/usuario/?usuario={{usuario_pregu.id}}">{{usuario_pregu.usuario}}</a>
                            </div>
                            <div class="alin-usu-es">
                                Última fecha de modificacion:{{id_pregunta.fecha_de_modificacion}}
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="content-pre-foro">
                {{id_pregunta.descripcion}}

            </div>


            <br><br>
            <span>Encontradas </span>

            <div id="ajax">
                {%include "respuestas.html" %}
            </div>
        </div>
    </div>
</div>
<script>
    calificacion();
    aniadir_evento_boton_respuesta();
    aniadir_evento_comentar_respuesta();
    aniadir_evento_boton_comentario();
    let resp_normal = document.getElementById("resp_normal");
    resp_normal.addEventListener('click', r_comunes);
    function r_comunes() {
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("ajax").innerHTML = this.responseText;
                calificacion();
                aniadir_evento_boton_comentario();
                //una vez que se carga las respuestas para cada pregunta se
                //asigna a comentario un evento
                aniadir_evento_comentar_respuesta();
                aniadir_evento_boton_respuesta();
                aniadir_evento_eliminar_editar();
            }
        }
        //--------------------------------
        if (resp_normal.checked == true) {
            ajax.open("GET", "/pregunta/?id={{pregunta.id}}&comun=1", true);
        }
        else {
            ajax.open("GET", "/pregunta/?id={{pregunta.id}}&confi=2", true);
        }
        ajax.send();
    }
    function aniadir_evento_eliminar_edita_comentarior() {
        let eliminar = document.querySelectorAll(".eliminarC");
        let editar = document.querySelectorAll(".editarC");
        for (let i = 0; i < eliminar.length; i++) {
            let elim = eliminar[i];
            elim.addEventListener('click', eliminar_Comentario);
            let edit = editar[i];
            edit.addEventListener('click', editar_Comentario);
            //let comentar = document.getElementById("comentar" + i);
            //comentar.addEventListener('click', add_comentar);
        }
    }
    function eliminar_Comentario() {
        let objeto = this;
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                r_comunes();
            }
        }
        url = "comentario_id=" + objeto.getAttribute("comentario_id");
        ajax.open('GET', "/eComentario/?" + url, true)
        ajax.send();

    }
    function editar_Comentario() {
        let editar = document.querySelectorAll(".comentario")
        for (let i = 0; i < editar.length; i++) {
            if (editar[i].getAttribute("comentario_id") == this.getAttribute("comentario_id")) {
                let valor = editar[i].innerHTML;
                editar[i].innerHTML = `
                <textarea id="editar${editar[i].getAttribute("comentario_id")}">${valor}</textarea>
                <span id="guardar_cambios${editar[i].getAttribute("comentario_id")}" comentario_id="${editar[i].getAttribute("comentario_id")}">Guardar Cambios</span>
                <span id="cancelar${editar[i].getAttribute("comentario_id")}">Cancelar</span>
                `;
                document.getElementById("guardar_cambios" + editar[i].getAttribute("comentario_id")).addEventListener("click", function () {
                    let edicion = document.getElementById("editar" + this.getAttribute("comentario_id"))
                    let ajax = new XMLHttpRequest();
                    ajax.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            r_comunes();
                        }
                    }
                    if (edicion.value == valor) {
                        this.parentNode.innerHTML = valor;
                    }
                    else if (edicion.value == "") {
                        this.parentNode.innerHTML = valor;
                    }
                    else {
                        let url = `/reComentario/?nuevoContenido=${edicion.value}&id=${this.getAttribute("comentario_id")}`;
                        ajax.open("GET", url, true);
                        ajax.send();
                    }

                });
                document.getElementById("cancelar" + editar[i].getAttribute("comentario_id")).addEventListener("click", function () {
                    this.parentNode.innerHTML = valor;
                });
                break;
            }
        }

    }
    //-------------
    function aniadir_evento_comentar_respuesta() {
        let comentarRespuesta = document.querySelectorAll(".comentarRespuesta");
        for (let i = 0; i < comentarRespuesta.length; i++) {
            comentarRespuesta[i].addEventListener("click", add_comentar_respuesta);
        }
    }
    function add_comentar_respuesta() {
        if (this.getAttribute("id_respuesta")) {
            url = "/aComentario/?usuario={{user.username}}&id_respuesta=" + this.getAttribute("id_respuesta");
            let eActual = this;
            this.parentNode.innerHTML = `
            <textarea respuesta="${this.getAttribute("id_respuesta")}" id="com_resp${this.getAttribute("id_respuesta")}"></textarea>
            <span id="g_c${this.getAttribute("id_respuesta")}">Guardar Comentario</span>
            <span id="c${this.getAttribute("id_respuesta")}">Cancelar</span>
            `;
            document.getElementById("g_c" + this.getAttribute("id_respuesta")).addEventListener("click", function () {
                let edicion = document.getElementById("com_resp" + eActual.getAttribute("id_respuesta"))

                let ajax = new XMLHttpRequest();
                ajax.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        r_comunes();
                    }
                }
                if (edicion.value == "") {
                }
                else {
                    let url = `/aComentario/?nuevoComentario=${edicion.value}&id=${eActual.getAttribute("id_respuesta")}&usuario={{user.username}}`;
                    ajax.open("GET", url, true);
                    ajax.send();
                }

            });
            document.getElementById("c" + this.getAttribute("id_respuesta")).addEventListener("click", function () {
                this.parentNode.innerHTML = eActual.outerHTML;
                aniadir_evento_comentar_respuesta();
            });
        }
        else {
            url = "/aComentario/?usuario={{user.username}}&id_respuesta=" + this.getAttribute("id_comentario");
            let eActual = this;
            this.parentNode.innerHTML = `
            <textarea respuesta="${this.getAttribute("id_comentario")}" id="com_com${this.getAttribute("id_comentario")}"></textarea>
            <span id="g_c${this.getAttribute("id_comentario")}">Guardar Comentario</span>
            <span id="c${this.getAttribute("id_comentario")}">Cancelar</span>
            `;
            document.getElementById("g_c" + this.getAttribute("id_comentario")).addEventListener("click", function () {
                let edicion = document.getElementById("com_com" + eActual.getAttribute("id_comentario"))
                let ajax = new XMLHttpRequest();
                ajax.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        r_comunes();
                    }
                }
                if (edicion.value == "") {
                }
                else {
                    let url = `/aSubComentario/?nuevoSubComentario=${edicion.value}&id=${eActual.getAttribute("id_comentario")}&usuario={{user.username}}`;
                    ajax.open("GET", url, true);
                    ajax.send();
                }

            });
            document.getElementById("c" + this.getAttribute("id_comentario")).addEventListener("click", function () {
                this.parentNode.innerHTML = eActual.outerHTML;
                aniadir_evento_comentar_respuesta();
            });
        }
    }
    function aniadir_evento_eliminar_editar() {
        let eliminar = document.querySelectorAll(".eliminar");
        let editar = document.querySelectorAll(".editar");
        for (let i = 0; i < eliminar.length; i++) {
            let elim = eliminar[i];
            elim.addEventListener('click', eliminar_Respuesta);
            let edit = editar[i];
            edit.addEventListener('click', editar_Respuesta);
            //let comentar = document.getElementById("comentar" + i);
            //comentar.addEventListener('click', add_comentar);
        }
    }
    function eliminar_Respuesta() {
        let objeto = this;
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                r_comunes();
            }
        }
        url = "respuesta_id=" + objeto.getAttribute("respuesta_id");
        ajax.open('GET', "/eRespuesta/?" + url, true)
        ajax.send();
    }
    function editar_Respuesta() {
        let editar = document.querySelectorAll(".respuesta")
        for (let i = 0; i < editar.length; i++) {
            if (editar[i].getAttribute("respuesta_id") == this.getAttribute("respuesta_id")) {
                let valor = editar[i].innerHTML;
                editar[i].innerHTML = `
                <textarea id="editar${editar[i].getAttribute("respuesta_id")}">${valor}</textarea>
                <span id="guardar_cambios${editar[i].getAttribute("respuesta_id")}" respuesta_id="${editar[i].getAttribute("respuesta_id")}">Guardar Cambios</span>
                <span id="cancelar${editar[i].getAttribute("respuesta_id")}">Cancelar</span>
                `;
                document.getElementById("guardar_cambios" + editar[i].getAttribute("respuesta_id")).addEventListener("click", function () {
                    let edicion = document.getElementById("editar" + this.getAttribute("respuesta_id"))
                    let ajax = new XMLHttpRequest();
                    ajax.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            r_comunes();
                        }
                    }
                    if (edicion.value == valor) {
                        this.parentNode.innerHTML = valor;
                    }
                    else if (edicion.value == "") {
                        this.parentNode.innerHTML = valor;
                    }
                    else {
                        let url = `/reRespuesta/?nuevoContenido=${edicion.value}&id=${this.getAttribute("respuesta_id")}`;
                        ajax.open("GET", url, true);
                        ajax.send();
                    }

                });
                document.getElementById("cancelar" + editar[i].getAttribute("respuesta_id")).addEventListener("click", function () {
                    this.parentNode.innerHTML = valor;
                });
                break;
            }
        }

    }
    function guardar_cambios() {
        let edicion = document.getElementById("editar" + this.getAttribute("respuesta_id"))
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
            }
        }
        ajax.open("GET", "/reRespuesta/", true);
        ajax.send();
    }
    function aniadir_evento_boton_respuesta() {
        let respuestaB = document.getElementById("nueva_respuestaB");
        respuestaB.addEventListener("click", aniadir_respuesta);
    }
    function aniadir_respuesta() {
        let respuesta = document.getElementById("nueva_respuesta");
        if ("{{user.username}}") {
            if (respuesta.value) {
                let ajax = new XMLHttpRequest();
                ajax.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        r_comunes();
                    }
                }
                url = "contenido=" + respuesta.value + "&usuario=" + "{{user.username}}&" + "pregunta_id=" + "{{id_pregunta.id}}";
                ajax.open('GET', "/aRespuesta/?" + url, true)
                ajax.send();
                respuesta.value = "";
            }
            else {
            }
        } else {
            window.location.replace("/login/");
        }


    }
    function calificacion() {
        let likes = document.querySelectorAll(".like");
        let dislikes = document.querySelectorAll(".dislike");
        for (let i = 0; i < likes.length; i++) {
            let like = likes[i];
            like.addEventListener('click', add_calificacion);
            let dislike = dislikes[i];
            dislike.addEventListener('click', add_calificacion);
            //let comentar = document.getElementById("comentar" + i);
            //comentar.addEventListener('click', add_comentar);
        }
    }
    function add_calificacion() {
        let usuario = this.getAttribute("usuario");
        if (usuario) {
            let objeto = this;
            let ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let likes_dislikes = JSON.parse(this.responseText);
                    document.getElementById("clike" + objeto.getAttribute("respuesta_id")).innerHTML = likes_dislikes.likes;
                    document.getElementById("cdislike" + objeto.getAttribute("respuesta_id")).innerHTML = likes_dislikes.dislikes;

                }
            }
            let url
            if (this.getAttribute("class") == "like") {
                url = "/calificacion/?usuario=" + usuario + "&like=" + objeto.getAttribute("respuesta_id");
            }
            else {
                url = "/calificacion/?usuario=" + usuario + "&dislike=" + objeto.getAttribute("respuesta_id");
            }
            ajax.open("GET", url, true);
            ajax.send();

        } else {
            window.location.replace("/login/");
        }
    }

    function aniadir_evento_boton_comentario() {
        let arreglo = document.getElementsByClassName("botonComentario");
        for (let i = 0; i < arreglo.length; i++) {
            arreglo[i].addEventListener("click", mostrar_comentarios);
        }
    }

    function mostrar_comentarios() {
        var boton = "comentario" + this.getAttribute("id_respuesta");
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(boton).innerHTML = this.responseText;
                aniadir_evento_boton_subcomentario();
                aniadir_evento_comentar_respuesta();
                aniadir_evento_eliminar_edita_comentarior();
            }
        }
        let url = "/comentario/?id_respuesta=" + this.getAttribute("id_respuesta");
        ajax.open("GET", url, true);
        ajax.send();

    }
    function aniadir_evento_boton_subcomentario() {
        let arreglo = document.getElementsByClassName("subbotonComentario");
        for (let i = 0; i < arreglo.length; i++) {
            arreglo[i].addEventListener("click", mostrar_subcomentarios);
        }
    }
    function mostrar_subcomentarios() {
        var boton = "subcomentario" + this.getAttribute("id_comentario");
        let ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById(boton).innerHTML = this.responseText;
                aniadir_evento_boton_subcomentario();
                aniadir_evento_comentar_respuesta();
                aniadir_evento_eliminar_edita_comentarior()
            }
        }
        let url = "/comentario/?id_comentario=" + this.getAttribute("id_comentario");
        ajax.open("GET", url, true);
        ajax.send();
    }
</script>
{%endblock%}