{% extends 'base/base.html' %}

<head>
    <title>{% block title %}Registro{% endblock %}</title>
</head>

<body>
    {% block content %}
    <div class="conten-reg">
        <div class="padre-reg">
            <div class="hijo-reg">
                <form action="" class="form" method="post" action={% url 'register' %}>
                    <h1 class="form-title">Registro</h1>
                    {% csrf_token %}

                    {% if messages %}
                    <div class="messages">
                        <ul >
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    {% endif %}
                    <p>
                        <label for="">Nombre de Usuario: </label>
                        <input type="text" value="{{data.username}}" name="username">
                    </p>
                    <p>
                        <label for="">Correo Electrónico: </label>
                        <input type="text" value="{{data.email}}" name="email">
                    </p>
                    <p>
                        <label for="">Confirmar Contraseña: </label>
                        <input type="password" name="password">
                    </p>
                    <p>
                        <label for="">Confirmar Contraseña: </label>
                        <input type="password" name="password2">
                    </p>
                    <button type="submit" id="submit">Registrarse</button>
                    <p>
                    <div>¿Tienes una cuenta? <a href={% url 'login' %}> Iniciar Sesión</a></div>
                    </p>
                </form>

            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>