

<div id="n_respuestas" cantidad="{{respuestas|length}}">{{respuestas|length}} respuestas</div>
<div class="resp-con">
{% for respuesta in respuestas %}
    <br>
    <span>Respuesta N°{{forloop.counter}}
    <div class="num-resp">
        <span>{{forloop.counter}}.-</span><span respuesta_id="{{respuesta.0.id}}"
        {%if user.username == respuesta.2.usuario%}
        class="respuesta">{{respuesta.0}}</span>
        {%load static %}
        <div class="conten-acciones">
            <span respuesta_id="{{respuesta.0.id}}" class="eliminar" style="cursor: pointer">Eliminar</span>
            <span respuesta_id="{{respuesta.0.id}}" class="editar" style="cursor: pointer">editar</span>
        </div>
        {%else%}
        <span>{{respuesta.0}} </span><br>
        {%endif%}
    </div>
    {%load static %}
    <div class="acciones-like">
        <table>
            <tr><td><img usuario="{{user.username}}" respuesta_id="{{respuesta.0.id}}" src="{% static 'like.png' %}" class="like" alt="like" id="like{{respuesta.0.id}}" 
                    style="
                        height: 20px; 
                        width: 20px;
                        cursor:pointer;
                       "></td>
                <td><img usuario="{{user.username}}" respuesta_id="{{respuesta.0.id}}" src="{% static 'dislike.png' %}" class="dislike" alt="dislike" id="dislike{{respuesta.0.id}}" 
                    style="
                        height: 20px; 
                        width: 20px;
                        cursor:pointer;
                        "></td>
                       <td style="  text-align: center;">
                        <div class="alinedo-usuario">
                            <div class="alin-usu-es">Usuario:</div>
                            <a  href="/usuario/?usuario={{respuesta.2.id}}">{{respuesta.2.usuario}}</a>
                        </div>
                        </td>
            </tr>
            <tr>
                    <td style="  text-align: center; padding: 0;margin: 0;" id="clike{{respuesta.0.id}}">{{respuesta.0.num_buena_calificacion}}</td>
                    <td style="  text-align: center; padding: 0;margin: 0;" id="cdislike{{respuesta.0.id}}">{{respuesta.0.num_mala_calificacion}}</td>
                    <td style="  text-align: center; "><span>Fecha de modificación {{respuesta.0.fecha_de_modificacion}}</span>
                    </td>
            </tr>
            
        </table>
    </div>
    <br>
    
    
    {%if user.username %}
    <div class="Conten-ButonComent">
        <span><button class="comentarRespuesta botones-index" 
            style=" cursor:pointer" id_respuesta="{{respuesta.0.id}}">Comentar</button></span>
   </div>
        
    {%endif%}
    {%if respuesta.1%}
    <button class="botonComentario botones-index" id="ver_com{{respuesta.0.id}}" id_respuesta="{{respuesta.0.id}}" style="cursor:pointer;">ver comentarios</button>
    <!--<div class="conten-button-coment">
        <p>{{respuesta.1}} comentarios</p>
    </div>-->
    <div id="comentario{{respuesta.0.id}}"> </div>
    {%endif%}
    <!--<br>
    <div class="alinedo-usuario">
        <div class="alin-usu-es">Usuario:</div>
        <a  href="/usuario/?usuario={{respuesta.2.id}}">{{respuesta.2.usuario}}</a>
    </div>
    <div class="alin-usu-es">
    <span>Fecha de modificación {{respuesta.0.fecha_de_modificacion}}</span>
    </div>-->
    <hr width="90%" color="black">
    {%endfor%}
</div>


<div class="content-form-agregar">
    <div id="nuevoComAjax">nueva Respuesta</div>
    <div>
        <textarea class="textbox" pregunta="{{id_pregunta.id}}" id="nueva_respuesta" type="text" name="nueva_respuesta" placeholder="Ingresa tu respuesta"></textarea>
    </div>
    <div>
        <button  class="botones-index"value="nueva_resp" id="nueva_respuestaB">Enviar Respuesta</button>
    </div>
   
</div>
