{% extends 'base/base.html' %}

<head>
    <title>{% block title %}SQ {{usuario.usuario}}{% endblock %}</title>
</head>

<body>
    {% block content %}
    <span>{{usuario.usuario}}</span><br>
    <span>se unio el {{usuario.fecha_de_creacion}}</span><br>
    <span>Preguntas más populares</span><br>
    <ul>
    {%if preguntas%}
    {%for pregunta in preguntas%}
        <li><a href="/pregunta/?id={{pregunta.id}}">{{pregunta.enunciado}}</a></li>
    {%endfor%}
    {%else%}
    <span>No presenta preguntas populares</span><br>
    {%endif%}
    </ul>
    {%if nivel%}
    <span>Nivel {{nivel}}</span><br>
    {%else%}
    <span>No presenta Nivel</span><br>
    {%endif%}

    <span>Mejores Respuestas</span><br>
    <ul>
    {%if respuestas%}
    {%for respuesta in respuestas%}
        <li><a href="/pregunta/?id={{respuesta.id}}">{{respuesta.contenido}}</a></li>
    {%endfor%}
    {%else%}
    <span>No presenta preguntas populares</span><br>
    {%endif%}
    {% endblock %}
</body>
</html>